Repository hashgraph/hedera-accelerator-defi-eip, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/unicsoft-hedera, @hashgraph/developer-advocates, @hashgraph/platform-ci, @hashgraph/release-engineering-managers

added readme
  README.md
Owners: @hashgraph/platform-ci, @hashgraph/release-engineering-managers

mandatory tests step
  .github/workflows/ci_cd.yml
Owners: @hashgraph/platform-ci

adds ci/cd workflow
  .github/workflows/ci_cd.yml
  .github/workflows/push.yml
  .github/workflows/push_main.yml
  .github/workflows/release.yml
Owners: @hashgraph/platform-ci

fix vault tests
  contracts/buildings/BuildingFactory.sol
  test/buildings/BuildingGovernance.test.ts
  test/erc7540/asyncVault.test.ts
  test/slice/slice.test.ts
Owners: @hashgraph/unicsoft-hedera, @hashgraph/developer-advocates

Auto-commit ABIs [ci skip]
  data/abis/Bits.json
  data/abis/IUniswapV2Factory.json
  data/abis/IUniswapV2Router01.json
  data/abis/IUniswapV2Router02.json
Owners: @hashgraph/unicsoft-hedera, @hashgraph/developer-advocates

draft: switch building token to erc3643
  contracts/buildings/BuildingFactory.sol
  contracts/buildings/library/BuildingToken.sol
  contracts/erc3643/factory/TREXFactory.sol
  contracts/erc3643/token/ITokenVotes.sol
  contracts/erc3643/token/TokenVotes.sol
  contracts/erc3643/token/TokenVotesStorage.sol
  examples/buildings/demo/step_1.ts
  scripts/deploy.ts
  test/erc3643/compliances/module-max-ownership.test.ts
  test/erc3643/fixtures/deploy-full-suite.fixture.ts
  test/erc3643/token/token-information.test.ts
  test/erc3643/token/token-transfer.test.ts
Owners: @hashgraph/unicsoft-hedera, @hashgraph/developer-advocates

fix usdc address
  constants/index.ts
  scripts/deploy.ts
Owners: @hashgraph/unicsoft-hedera, @hashgraph/developer-advocates

set deployer as token agent
  contracts/buildings/library/BuildingToken.sol
Owners: @hashgraph/unicsoft-hedera, @hashgraph/developer-advocates

set deployer as token agent
  contracts/buildings/library/BuildingToken.sol
Owners: @hashgraph/unicsoft-hedera, @hashgraph/developer-advocates

draft: switch building token to erc3643
  contracts/buildings/library/BuildingToken.sol
  contracts/erc3643/factory/TREXFactory.sol
  contracts/erc3643/token/ITokenVotes.sol
  contracts/erc3643/token/TokenVotes.sol
  contracts/erc3643/token/TokenVotesStorage.sol
  examples/buildings/demo/step_1.ts
  scripts/deploy.ts
  test/erc3643/compliances/module-max-ownership.test.ts
  test/erc3643/fixtures/deploy-full-suite.fixture.ts
  test/erc3643/token/token-information.test.ts
  test/erc3643/token/token-transfer.test.ts
Owners: @hashgraph/unicsoft-hedera, @hashgraph/developer-advocates

initial owner for token
  contracts/buildings/BuildingFactory.sol
Owners: @hashgraph/unicsoft-hedera, @hashgraph/developer-advocates

draft: switch building token to erc3643
  contracts/buildings/library/BuildingToken.sol
Owners: @hashgraph/unicsoft-hedera, @hashgraph/developer-advocates

Libraries, minting, usdc address and AutoCompounder (#100)
  contracts/buildings/library/BuildingToken.sol
  data/deployments/chain-296.json
  test/buildings/BuildingFactory.test.ts
Owners: @hashgraph/unicsoft-hedera, @hashgraph/developer-advocates

draft: deploy and register indentities
  contracts/buildings/BuildingFactory.sol
  contracts/buildings/library/BuildingToken.sol
  contracts/erc3643/token/TokenVotes.sol
  test/buildings/BuildingFactory.test.ts
Owners: @hashgraph/unicsoft-hedera, @hashgraph/developer-advocates

add building docs
  contracts/buildings/README.md
Owners: @hashgraph/unicsoft-hedera, @hashgraph/developer-advocates

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/unicsoft-hedera @hashgraph/developer-advocates

############################
#####  Project Files  ######
############################

/contracts/**                                   @hashgraph/unicsoft-hedera @hashgraph/developer-advocates
/data/**                                        @hashgraph/unicsoft-hedera @hashgraph/developer-advocates
/examples/**                                    @hashgraph/unicsoft-hedera @hashgraph/developer-advocates
/scripts/**                                     @hashgraph/unicsoft-hedera @hashgraph/developer-advocates
/test/**                                        @hashgraph/unicsoft-hedera @hashgraph/developer-advocates

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/platform-ci @hashgraph/release-engineering-managers
/.github/workflows/                             @hashgraph/platform-ci

# NodeJS project files
package.json                                    @hashgraph/platform-ci @hashgraph/unicsoft-hedera @hashgraph/developer-advocates
yarn.lock                                       @hashgraph/platform-ci @hashgraph/unicsoft-hedera @hashgraph/developer-advocates
hardhat.config.ts                               @hashgraph/unicsoft-hedera @hashgraph/developer-advocates
.prettierrc                                     @hashgraph/unicsoft-hedera @hashgraph/developer-advocates
.eslintrc.json                                  @hashgraph/unicsoft-hedera @hashgraph/developer-advocates

# Codacy Tool Configurations
/config/                                        @hashgraph/platform-ci @hashgraph/release-engineering-managers
.remarkrc                                       @hashgraph/platform-ci @hashgraph/release-engineering-managers

# Semantic Release Configuration
.releaserc                                      @hashgraph/platform-ci @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                     @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/platform-ci @hashgraph/release-engineering-managers
**/LICENSE                                      @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/platform-ci @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/platform-ci @hashgraph/release-engineering-managers
**/.gitignore.*                                 @hashgraph/platform-ci @hashgraph/release-engineering-managers
